button {
  width: 70px;
  height: 70px;
}

.clear {
  width: 280px;
  height: 50px;
  background-color: #ff531a;
}

.operation {
  background-color: #ffff66;
}

.equals {
  background-color: #ff531a;
}

.number {
}
