.Display {
  border-style: groove;
  bottom: 70%;
  width: 280px;
  height: 70px;
  background-color: gray;
  color: white;
  font-size: 50px;
  text-align: left;
}

/* @font-face {
  font-family: "digital-clock-font";
  src: url("../../digital-7.regular.ttf");
} */
