.main {
  display: flex;
  place-items: center;
  height: 100vh;
  justify-content: center;
}

.numberButtons {
  max-width: 120px;
}

.operationButtons {
  max-width: 40px;
}

.equalsButton {
  position: absolute;
  bottom: 43.8%;
  left: 50%;
}

.clearButton {
  position: absolute;
  bottom: 56.05%;
}
