.main {
  display: flex;
  place-items: center;
  justify-content: center;
  position: relative;
  width: 280px;
  height: 400px;
  left: 20%;
  top: 10px;
}

/** Position the equals button to the bottom left of the number buttons */
.layoutStage1 {
  display: flex;
  place-items: center;
  justify-content: center;
  position: absolute;
  width: 210px;
  height: 280px;
  left: 0px;
  top: 0px;
}

/** Position the operation buttons to the right of the previous div */
.layoutStage2 {
  display: flex;
  place-items: center;
  justify-content: center;
  position: absolute;
  width: 280px;
  height: 280px;
  left: 0px;
  bottom: 0px;
}
/** Position the display above the previous div */
.layoutStage3 {
  display: flex;
  place-items: center;
  justify-content: center;
  position: absolute;
  width: 280px;
  height: 330px;
  left: 0px;
  bottom: 0px;
}

.numberButtons {
  width: 210px;
  height: 280px;
  top: 0px;
  left: 0px;
}

.operationButtons {
  position: absolute;
  width: 70px;
  height: 280px;
  top: 0px;
  right: 0px;
}

.equalsButton {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.clearButton {
  position: absolute;
  top: 0px;
  left: 0px;
}

.Display {
  position: absolute;
  top: 0px;
  left: 0px;
}
